<!DOCTYPE html>
<html lang="pl">

{% include 'head.html' %}

<body>
    <nav class="navbar mb-5">
        <div class="container-fluid">
            {% include 'logo.html' %}
            <div class="d-flex gap-2 align-items-center justify-content-center">
                <img src="../static/images/time-left.png" height="20px" width="20px">
                <div id="timer" class="p">Zostało do końca rezerwacji <span id="countdown"></span></div>
            </div>
        </div>
    </nav>

    <div class="container mb-3">
        <div class="d-flex gap-3">
            <img src="{{ showing.movie.image_url }}" height="128px">
            <div>
                <h1 class="h1 text-uppercase fw-bold">{{ showing.movie.title }}</h1>
                <div class="d-flex gap-2">
                    <p>{{ showing.show_time.strftime('%d-%m-%Y') }}</p>
                    <p>|</p>
                    <p>{{ showing.show_time.strftime('%H:%M') }}</p>
                </div>
                <div class="d-flex gap-2">
                    <p>{{ showing.movie_format }}</p>
                    <p>|</p>
                    <p>{{ showing.lang_type }}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <div class="container button-container mb-5">
        <div class="d-flex flex-row justify-content-between inner-button-container gap-2">
            <button id="Wstecz" class="btn btn-outline-secondary rounded-3 px-4">Wstecz</button>
            <button id="Przejdz_dalej" class="btn btn-primary rounded-3 px-4">Przejdź dalej</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>

</body>

</html>