<footer class=" bg-dark">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 my-5">
      <div class="col mb-3">
        {% include 'logo.html' %}
        <div class="mt-3">
          <p class="text-light m-1">ul. Lea 5, 30-046 Kraków</p>
          <p class="text-light m-1">tel. 12 341 43 32, 12 634 28 97</p>
          <p class="text-light m-1">© Popkino 2025</p>
        </div>
      </div>

      <div class="col mb-3">

      </div>

      <div class="col mb-3">
        <h5>Kino</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Repertuar</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Cennik</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Wydarzenia</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Szkoły</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>O nas</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">O nas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Oferty</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Kariera</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Historia</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Informacje</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Regulaminy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Polityka prywatności</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Polityka cookies</a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>