{% extends "base_reservation.html" %}

{% block title %}Rezerwacja Pokazu{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md border p-4 rounded-start mb-3 mb-md-0">
      <h2 class="h2 fw-bold">Podsumowanie</h2>
      <div class="container-fluid p-0 m-0">

        <div class="row justify-content-between">
          <div class="col-sm">
            <p class="mb-0 mb-sm-2">Imię i nazwisko</p>
          </div>
          <div class="col-sm">
            <p class="mb-3 mb-sm-2">{{ username }}</p>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-sm">
            <p class="mb-0 mb-sm-2">Email:</p>
          </div>
          <div class="col-sm">
            <p class="mb-3 mb-sm-2">{{ email }}</p>
          </div>
        </div>

        <div class="row justify-content-between mb-4">
          <div class="col-lg">
            <p class="mb-0 mb-lg-2">Kupon rabatowy</p>
          </div>
          <div class="col-lg mb-3 mb-lg-2">

            <form class="form-inline" id="coupon-form">
              <div class="form-group d-flex flex-row align-items-center">
                <input type="text" class="form-control me-2" id="discount-code" name="user-discount-code" placeholder="Kod rabatowy">
                <button type="submit" id="check-coupon" class="btn btn-primary rounded-3 px-4">Zastosuj</button>
              </div>
            </form>

          </div>
        </div>


        <div class="container p-2 rounded bg-light">

          <div class="row justify-content-between">
            <div class="col-4">
              aaa
            </div>
            <div class="col-4">
              <p>x bilet normalny</p>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-4">
              bbb
            </div>
            <div class="col-4">
              <p>x bilet ulgowy</p>
            </div>
          </div>

          <hr>

                <div class="row justify-content-between">
                  <div class="col-4">
                    <h5>Do zapłaty</h5>
                  </div>
                  <div class="col-4">
                    <h5><span id="totalAmount"></span> zł</h5>
                  </div>
                </div>

                <div class="row justify-content-between">
                  <div class="col-4">
                    <p>Rabat</p>
                  </div>
                  <div class="col-4">
                    <p id="discount-value">Brak rabatu</p>
                  </div>
                </div>

        </div>

      </div>

      <div id="orderSummary" class="text-center mt-3">
        <!-- JAVASCRIPT -->
      </div>

    </div>

    <div class="col-md border p-4 rounded-end">
      <h2 class="h2 fw-bold">Metoda płatności</h2>
      <div class="form-check mb-3 mt-3">
        <input class="form-check-input" type="radio" name="paymentOption" id="paymentBLIK" checked>
        <label class="form-check-label" for="paymentBLIK">
          BLIK
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" name="paymentOption" id="paymentInCinema">
        <label class="form-check-label" for="paymentInCinema">
          Płatność na miejscu
        </label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="radio" name="paymentOption" id="paymentbyCard">
        <label class="form-check-label" for="paymentbyCard">
          Płatność kartą
        </label>
      </div>

      <div id="paymentMethods" class="text-center mt-3">
        <!-- JAVASCRIPT -->
      </div>
      <div class="mt-3">

      </div>
    </div>
  </div>
</div>

<div class="px-0 container button-container mt-4 mb-5">
  <div class="d-flex flex-row justify-content-between inner-button-container gap-2">
    <button id="Wstecz" class="btn btn-outline-secondary rounded-3 px-4">Wstecz</button>
    <a href='/showing/{{showing.showing_id}}/personal/payment/summary' class="text-white"><button
        class="btn btn-primary rounded-3 px-4 align-self-end " onclick="submitSeats()">Przejdź dalej</button></a>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/coupon.js') }}"></script>
<script>

document.addEventListener('DOMContentLoaded', () => {
        calculateTotal();
    });

function submitSeats() {
    const seats = JSON.parse(sessionStorage.getItem('seats')) || [];
    const showingId = '{{ showing.showing_id }}'; // Upewnij się, że masz dostęp do ID pokazu

    // Przygotuj dane do wysłania
    const occupiedSeats = seats.map(seat => ({
        showing_id: showingId,
        row: seat.row,
        place: seat.place,
        taken: true // Ustawiamy na true, ponieważ miejsca są zajęte
    }));

    // Wysłanie danych do serwera
    fetch('/api/book_seats', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(occupiedSeats)
    })
    .then(response => {
        if (response.ok) {
            // Możesz przekierować użytkownika lub pokazać komunikat o sukcesie
            window.location.href = `/showing/{{showing.showing_id}}/personal/payment/summary`; // Przykładowe przekierowanie
        } else {
            // Obsłuż błąd
            alert('Wystąpił błąd podczas rezerwacji miejsc.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Wystąpił błąd podczas rezerwacji miejsc.');
    });
}


</script>


{% endblock %}