{% extends "base_reservation.html" %}

{% block title %}Rezerwacja Pokazu{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col border p-4">
            <h2>Podsumowanie</h2>
            <div class=""
            <div id="orderSummary" class="text-center mt-3">
                <!-- JAVASCRIPT -->
            </div>
            
        </div>

        <div class="col border p-4">
                <h2>Metoda płatności</h2>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentBLIK" id="paymentBLIK" checked>
                        <label class="form-check-label" for="paymentBLIK">
                          BLIK
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentInCinema" id="paymentInCinema">
                        <label class="form-check-label" for="paymentInCinema">
                          Płatność na miejscu
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentbyCard" id="paymentbyCard">
                        <label class="form-check-label" for="paymentbyCard">
                          Płatność kartą
                        </label>
                      </div>
                
                <div id="paymentMethods" class="text-center mt-3">
                    <!-- JAVASCRIPT -->
                </div>
                <div class="mt-3">
                    
                </div>
        </div>
    </div>
</div>


{% endblock %}