{% extends "base_reservation.html" %}

{% block title %}Rezerwacja Pokazu{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col border p-4">
            <div id="orderSummary" class="text-center mt-3">
                <!-- JAVASCRIPT -->
            </div>
            <h2>Podsumowanie</h2>
        </div>

        <div class="col border p-4">
                <h2>Metoda płatności</h2>
                <div id="paymentMethods" class="text-center mt-3">
                    <!-- JAVASCRIPT -->
                </div>
                <div class="mt-3">
                    
                </div>
        </div>
    </div>
</div>


{% endblock %}