{% extends "base_website.html" %}

{% block title %}Strona Główna{% endblock %}

{% block content %}
<div class="container">
    <h2>Udało się kupić bilet! 🍿</h2>
    <p>Zapisz swój kod biletu lub pobierz pdf, który pokażesz w kinie.</p>
    <li><strong>Tytuł filmu:</strong> {{ showing.movie.title }}</li>
    <li><strong>Data i godzina pokazu:</strong> {{ showing.show_time }}</li>
    <li><strong>Kod biletu</strong> {{ reservation.ticket_code }}</li>
</div>
<div class="container">
    <button class="btn btn-secondary">Pobierz pdf</button>
</div>

{% endblock %}