{% extends "base_website.html" %}

{% block title %}Strona Główna{% endblock %}

{% block content %}

<div class="card p-4">

    <form method="POST">

        <p>Wpisz kod biletu</p>
        <div class="form-group mb-3">
            <label for="client-ticket-code">Bilet</label>
            <input type="text" class="form-control" id="client-ticket-code" name="client-ticket-code" placeholder="Kod biletu">
        </div>

        <button type="submit" id="login" class="btn btn-primary rounded-3 px-4">Sprawdź</button>

    </form>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>

        <div class = "conatiner">
            <li><strong>Imię i nazwisko klienta</strong> {{ reservation.username }}</li>
            <li><strong>Email</strong> {{ reservation.email }} </li>
            <li><strong>Tytuł filmu:</strong> {{ movie.title }}</li>
            <li><strong>Data i godzina seansu:</strong> {{ showing.show_time }}</li>
        </div>

        {% endif %}

</div>

{% endblock %}