{% extends "base_website.html" %}

{% block title %}Strona Główna{% endblock %}

{% block content %}

<div class="card p-4">

    <form method="POST">

        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
        {% endif %}

        <p>Wpisz kod biletu</p>
        <div class="form-group mb-3">
            <label for="client-ticket-code">Bilet</label>
            <input type="text" class="form-control" id="client-ticket-code" name="client-ticket-code" placeholder="Kod biletu">
        </div>

        <button type="submit" id="login" class="btn btn-primary rounded-3 px-4">Sprawdź</button>

    </form>
</div>

{% endblock %}